<form action="/create" method="POST">
    <label for="blogTitle">Enter title :</label>
    <input type="text" name="blogTitle">
    <div>
        <label for="blogContent">Content:</label>
        <textarea id="blogContent" name="blogContent" placeholder="Write your blog post here..." spellcheck="true"></textarea>
    </div>
    <button class="btn-large" type="submit">Publish</button>
</form>