<link rel="stylesheet" href="/styles/main.css">
<h1>Welcome to DailyBlog</h1>
<div class="buttonHolder">
    <button id="home" onclick="window.location.href='/'">Home</button>
    <button id="create" onclick="window.location.href='/create'">Create</button>
    <button id="update" onclick="window.location.href='/update'">Update</button>
    <button id="delete" onclick="window.location.href='/delete'">Delete</buttton>
</div>
