<link rel="stylesheet" href="/styles/main.css">
<h1 id="title">Welcome to DailyBlog</h1>
<div class="buttonHolder">
    <button id="home" class="btn" onclick="window.location.href='/'">Home</button>
    <button id="create" class="btn" onclick="window.location.href='/create'">Create</button>
    <button id="update" class="btn" onclick="window.location.href='/update'">Update</button>
    <button id="delete" class="btn" onclick="window.location.href='/delete'">Delete</buttton>
</div>
